@using Senparc.Weixin.MP.TenPayLibV3
@using Senparc.Weixin.MP.Helpers
@using Senparc.Weixin.MP.AdvancedAPIs
@using System.Text
@using wxPay.Net
@{
    ViewBag.Title = "Home Page";
    string orderid = DateTime.Now.Ticks.ToString();
    string openid = "uO-ZyMILKGWG_5ZXC6*********************";
}

<script>
    //所有工作的目的就是为了以下面简化的方式调用微信支付控件
    $(function () {
        var options = {
            pid: "123", sp_billno: "@orderid", desc: "这是一个测试支付"
        };
        $("a.pay").wxPay("/home/payment", "@openid", options, function () {
            $.fn.wxPay.OrderParam = "data";
            //支付前计算支付金额或写固定金额
            return 1;
        }, function () {
            alert("支付成功success");
        }, function (e) {
            //如果返回错误，请输入e看是什么内容
            alert(e);
        }, function (e) {
            alert(e);
        }
        );        

            @{
                string AppID = "";
                string AppSecret = "";
                string url = Request.Url.AbsoluteUri;
                string timestamp = JSSDKHelper.GetTimestamp();
                string nonestr = JSSDKHelper.GetNoncestr();
                var result = OAuthApi.GetAccessToken(AppID,AppSecret, Request.QueryString["code"]);
                string accesstok =result.access_token;
                string addSign = WxPayV3.GetUserAddrSign(AppID,accesstok, nonestr, timestamp, url);
            }        
        $("a#getaddr").SelectAddress('@AppID', '@addSign', '@timestamp', '@nonestr', function (res) {
            //res.username 收货人 res.telNumber 收货电话 res.addressPostalCode 邮编 res.nationalCode 国家码 
            alert($.fn.wxPay.SelectedAddr);
        }, function (desc) { alert(desc); }, function (desc) { alert(desc); });

    });
</script>



<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <p>
        <a class="pay" href="javascript:;">微信支付测试</a>
    </p>
    <p>
        <a href="javascript:;" id="getaddr">获取收货地址</a>
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>